@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure images don't overflow their containers */
img {
  max-width: 100%;
  height: auto;
}
